<!doctype html>
<html>
  	<head>
  		<meta charset="utf-8" />

    	<title>English Apparel</title>
    	<meta name="description" content="Some lovely clothes that you can filter" />

    	<link href="css/engstyle.css" rel="stylesheet" />

    	<script src="js/jquery.js"></script>
    	<script src="js/isotope.js"></script>
    	<script src="js/englishapparel.js"></script>
  	</head>

	<body class="group">

		<header>
			<h1><a href="engindex.html"><img id="logo" src="images/englogo.png"></a></h1>

			<nav>
				<a href="products.html?filter=black" id="black">Black</a>
				<a href="products.html?filter=yellow" id="yellow">Yellow</a>
				<a href="products.html?filter=green" id="green">Green</a>
				<a href="products.html?filter=blue" id="blue">Blue</a>
				<a href="products.html?filter=red" id="red">Red</a>
			</nav>
		</header>

		<section id="shirts">
			<div class="shirt black">
				<img src="images/black_1.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Black T-shirt</h2>
					<p>Classic Fit Black T-shirt</p>
				</div>
			</div>
			<div class="shirt green">
				<img src="images/green_1.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Green T-shirt</h2>
					<p>Classic Fit Green T-shirt</p>
				</div>
			</div>
			<div class="shirt green">
				<img src="images/green_2.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Green T-shirt</h2>
					<p>Classic Fit Green T-shirt</p>
				</div>
			</div>
			<div class="shirt blue">
				<img src="images/blue_1.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Blue T-shirt</h2>
					<p>Classic Fit Blue T-shirt</p>
				</div>
			</div>
			<div class="shirt black">
				<img src="images/black_2.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Black T-shirt</h2>
					<p>Slim Fit Black T-shirt</p>
				</div>
			</div>
			<div class="shirt red">
				<img src="images/red_1.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Red T-shirt</h2>
					<p>Slim Fit Red T-shirt</p>
				</div>
			</div>
			<div class="shirt green">
				<img src="images/green_3.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Green T-shirt</h2>
					<p>Skinny Fit Green T-shirt</p>
				</div>
			</div>
			<div class="shirt yellow">
				<img src="images/yellow_1.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Yellow T-shirt</h2>
					<p>Classic Fit Yellow T-shirt</p>
				</div>
			</div>
			<div class="shirt black">
				<img src="images/black_3.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Black T-shirt</h2>
					<p>Slim Fit Black T-shirt</p>
				</div>
			</div>
			<div class="shirt blue">
				<img src="images/blue_2.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Blue T-shirt</h2>
					<p>V-Necked Blue T-shirt</p>
				</div>
			</div>
			<div class="shirt yellow">
				<img src="images/yellow_2.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Yellow T-shirt</h2>
					<p>Slim Fit Yellow T-shirt</p>
				</div>
			</div>
			<div class="shirt blue">
				<img src="images/blue_3.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Blue T-shirt</h2>
					<p>Slim Fit Deep Blue T-shirt</p>
				</div>
			</div>
			<div class="shirt blue">
				<img src="images/blue_4.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Blue T-shirt</h2>
					<p>Classic Fit Blue T-shirt</p>
				</div>
			</div>
			<div class="shirt black">
				<img src="images/black_4.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Black T-shirt</h2>
					<p>Skinny Fit Black T-shirt</p>
				</div>
			</div>
			<div class="shirt red">
				<img src="images/red_2.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Red T-shirt</h2>
					<p>Classic Fit Red T-shirt</p>
				</div>
			</div>
			<div class="shirt red">
				<img src="images/red_3.jpg" />
				<div class="meta">
					<a href="#" class="buy">Buy</a>
					<h2>Red T-shirt</h2>
					<p>Slim Fit Red T-shirt</p>
				</div>
			</div>
		</section>

	</body>
</html>
