<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">

  <title>czzt</title>
  <meta content="Clare Trembaths Portfolio Page" name="description">
  <link href="css/reset.css" rel="stylesheet">
  <link href="css/skeleton.css" rel="stylesheet">
  <link href="css/foundation.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/button.css" rel="stylesheet">
  <link href="css/email.css" rel="stylesheet">
  <link href="css/jquery.fullPage.css" rel="stylesheet">
  <link href=
  'https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel=
  'stylesheet' type='text/css'>
  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="./images/favicon.ico" type="image/x-icon">
  <script src="js/jquery.js" type="text/javascript"></script>
  <script src="js/vague.js" type="text/javascript"></script>
  <script src="js/script.js" type="text/javascript"></script>
  <script src="js/jquery.fullPage.js" type="text/javascript"></script>
  <script src="js/foundation.js" type="text/javascript"></script>
 </head>
  <body>
    <div id="fullpage">
      <div class="section" id="section">
        <header>
          <nav class="container-twelve-columns" id="navigation">
            <p class="intro" id="hi">HI</p>
            <p class="intro" id="im">we're</p>
            <p class="intro" id="clare">izzy + clare</p>
          </nav>
        </header>
      <section id="whole">
        <section class="container circles" id="bannerfull">
            <section class="container-ten-columns" id="bannerblue">
              <section class="container" id="images">
                <img class="circles" src="images/circle1.png"> 
                <img class="circles" src="images/circle2.png"> 
                <img class="circles" src="images/circle3.png">
                <img class="circles" src="images/circle4.png">
              </section>
              <section class="container" id="words">
                <h1>we are junior <span class="txt-rotate" data-period="2000"
                data-rotate='[ "developers.", " designers.", "creators." ]'></span></h1>
              </section>
              <section id="arrowsdown">
                <svg class="arrows">
                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                <path class="a3" d="M0 40 L30 72 L60 40"></path>
                </svg>
              </section>
            </section>
          </section>
      </div>
          <div class="section" id="section">  
            <section class="container" id="apparel">
              
              <div class="logo-copy">
              <a href="/engindex.erb" id="englink"><img id="englogolink" src="images/englogo.png"></a>
              <p id="engintro">Based on the american Apparel website, A pure front-end mock up for an e-commerce clothing site.</p>
              </div>
              
              <div id="covereng">
                <video id="engvideo" preload="auto" width="550" height="300" autoplay="autoplay" loop>
                  <source src="videos/apparelmovie.mp4" type="video/mp4">
                </video>
              </div>
            </section>
            <section class="container" id="sleaze">
              <div id="wrap-sleaze">
                <a href="http://sleazysounds.herokuapp.com" target="_blank" id="sleazelink"><img id="sleazylogo" src="images/sleazylogo.png"></a>
                <p id="sleazeintro">Sleazy Sounds is a music website that lets users search for and play tracks.</p>
              </div>
              <div id="coversleaze">
                <video id="sleazevideo" preload="auto" width="550" height="300" autoplay="autoplay" loop>
                  <source src="videos/sleaze.mp4" type="video/mp4">
                </video>
              </div>
          </section>
        </div>
      </section>
      <div class="section" id="section">
        <div id="joeheader"></div>
        <section class="container" id="joe">
          <a href="https://jt-app.herokuapp.com/" id="joelink">
          <img id="joelogo" src="images/cutout_logo.png"></a>
          <p id="joeintro">Mobile optimised audio app designed for music artists to showcase tracks and events.</p>
        <div id="coverjoe">
          <video id="joevideo" preload="auto" width="550" height="300" autoplay="autoplay" loop>
            <source src="videos/joefinal.mp4" type="video/mp4">
          </video>
        </div>
      </section>
      <section class="container" id="oodle">
        <div id="oodls-wrap">
          <a href="http://www.oodls.io" id="oodlslink">
          <img id="oodlslogo" src="images/oodls.svg"></a>
          <p id="oodls">Charity website to help reduce food waste via nearest donation hotspots.</p>
        </div>
        <div id="coveroodls">
          <video id="oodlsvideo" preload="auto" width="550" height="300" autoplay="autoplay" loop>
            <source src="videos/oodles.mp4" type="video/mp4">
          </video>
        </div>
      </section>
    </div>
    <div class="section" id="section" style="background-image: url(images/waterback.jpg);">
      <section class="container" id="emailform">
        <div id="form-main">
          <div id="form-div">
            <form action="/" class="form" id="form1" method="post" name="form1">
              <input class=
              "validate[required,custom[onlyLetter],length[0,100]] feedback-input"
              id="name" name="name" placeholder="name" type="text"> <input class=
              "validate[required,custom[email]] feedback-input" id="email" name=
              "emailaddress" placeholder="email" type="text"> 
              <textarea class="validate[required,length[6,300]] feedback-input"
              id="comment" name="body" placeholder="message">
              </textarea>
              <div class="submit">
                <button id="button-blue" type="submit" value="Send">S E N D</button>
              </div>
            </form>
          </div>
       </div>
     </section>
   </div>
   <script src="js/wow.min.js"></script> 
   <script>
     new WOW().init();
   </script> 
   <script type="text/javascript">
     $(document).ready(function() {
       $('#fullpage').fullpage({
         sectionsColor: ['#eeeee', '#eeeee', '#eeeee', 'whitesmoke', '#ccddff  '],
         anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
         menu: '#menu',
         scrollingSpeed: 1000
       });
     });
   </script> 
 </body>
</html>