* {
  font-family: 'PT Sans',sans-serif
}

html {
  margin: 0;
  padding: 0;
  overflow: scroll
}

body {
  -webkit-filter: blur(4px)
  /*-webkit-transition: filter 0.4s ease;
  -moz-transition: filter 0.4s ease;
  -o-transition: filter 0.4s ease;
  transition: filter 0.4s ease;*/
}

nav {
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: .7;
  margin: 0;
  padding: 0;
}

p.intro {
  font-family: 'PT Sans',sans-serif;
  color: #fff;
  text-align: center;
  font-size: 50px;
  letter-spacing: 7.5px;
  padding-top: 35px;
  opacity: .9;
  margin-top: 5px;
  display: none
}

p#clare {
  letter-spacing: 2px;
}

section.circles {
  position: absolute;
  padding-top: 300px;
  padding-bottom: 50px;
  opacity: .95;
  height: 500px;
  clear: both;
  width: 100%;
}

section#bannerblue {
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

img.circles {
  border-radius: 150px;
  height: 230px;
  width: 230px;
  padding: 8px;
  -webkit-transition:-webkit-transform .8s ease-in-out;
  -ms-transition:-ms-transform .8s ease-in-out;
  transition:transform .8s ease-in-out
}

img.circles:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

section#arrowsdown {
  margin-top: 40px;
}

section#words {
  padding-top: 70px;
  text-align: center;
}

section#work-title{
  height: 100px;
  background-color: black;
  opacity: .5;
  width: 100%;
}

section#apparel{
  margin-top: 100px;
  margin-bottom: 40px;
  height: 46%;
}

section#sleaze {
  border-top: solid 1px #000000;
  height: 46%;
}

section#emailform {
  background-image: url(images/waterback.jpg);
}

img#englogolink {
  height: 150px;
  width: 300px;
  border-bottom: 1px solid #BDBDBD;
  float: right;
  margin-right: 50px;
  margin-top: 40px;
}

img#englogolink:hover{
  background-color: #9FFFF5;
}

video#engvideo {
  margin-top: 50px;
  padding-left: 10px;
  clear: right;
  position: fixed;
  opacity: .9;
  height: 250px;
}

p#engintro {
  width: 350px;
  float: right;
  text-align: center;
  clear: both;
  margin-right: 30px;
  margin-top: 30px;
}

div#covereng{
  margin-top: 30px;
}

video#sleazevideo {
  float: right;
  clear: both;
  margin-top: -156px;
  height: 250px;
  position: absolute;
  margin-left: 450px;
}

p#sleazeintro{
  margin-top: 70px;
  width: 385px;
  text-align: center;
}

div#wrap-sleaze {
  margin-left: 50px;
}

img#sleazylogo {
  padding-top: 10px;
  border-bottom: 1px solid #BDBDBD;
  width: 385px;
  float: left;
  margin-bottom: 28px;
}

img#sleazylogo:hover{
  background-color: #9FFFF5;
}

div#joeheader {
  height: 100px;
  width:100%;
  background-color: #000;
  opacity: .5;
  top:0;
  left:0;
  opacity:.7;
  margin:0;
  padding:0
}

img#joelogo{
  height:150px;
  width: 200px;
  border-bottom:1px solid #BDBDBD;
  float:right;
  margin-right: 217px;
  margin-top: 40px;
}

img#joelogo:hover{
  background-color: #9FFFF5;
}

p#joeintro  {
  width: 350px;
  float:right;
  text-align: center;
  clear: both;
  margin-right: 150px;
  margin-top: 30px;
}

video#joevideo {
  margin-top: 50px;
  padding-left: 10px;
  clear: right;
  position: fixed;
  opacity: .9;
  height: 250px;
}

section#oodle {
  border-top: solid 1px #000000;
  margin-bottom: 0px;
  margin-top: 100px;
}

video#oodlsvideo {
  float: left;
  clear: both;
  margin-top: -162px;
  position: absolute;
  height: 250px;
  margin-left: 450px;
}

img#oodlslogo {
  padding-top: 10px;
  width: 380px;
  height: 120px; 
  float: left;
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 28px;
  padding-bottom: 12px;
}

p#oodls{
  margin-top:70px;
  width:385px;
  text-align: center;
}

div#oodls-wrap {
  margin-left: 50px;
}

img#oodlslogo:hover{
  opacity: .5;
}

/*//media queries*/
/* Laptops /*/

@media screen and (max-width : 1324px), screen and (max-height: 715px) {
  section.circles {
    padding-top: 200px;
    height: 500px;
    margin-left: none;
  }

  section#apparel {
    height: 42%;
  }

  section#oodle{
    margin-top: 42px;
  }

  section#sleaze {
    height: 54%;
  }

  div#joeheader {
    height: 30px;
  }

  p#sleazeintro {
    margin-top: 30px;
    width: 385px;
    text-align: center;
  }

  p#oodls{
    margin-top: 10px;
    width:385px;
    text-align: center;
  }

  section#words {
    font-size: 1em;
    padding-top: 10px;
  }
}

/* Styles */

/*ipad horizontal*/

@media screen and (max-width: 1024px) {
  section.circles {
    padding-top: 250px;
    height: 500px;
    margin-left: none;
  }

  section#words {
    font-size: 1em;
    padding-top: 20px;
  }

  section.logo-copy {
    text-align: center;
  }

  .container {
    width: 59rem;
  }

  section.project-p1 {
    width: 28rem;
  }

  section#joe {
    width: 40rem;
  }
  
  p#oodls{
    margin-top: 80px;
    width:385px;
    text-align: center;
  }

  section#oodle{
    margin-top: 100px;
    width: 28rem;
  }

  video {
    display: none;
  }
}

/*/ipad vertical/*/

@media screen and (max-width:1000px) {
  
  nav {
    height: 190px;
  }

  video {
    display: none;
  }

  p.intro {
    font-size: 60px;
    padding-top: 70px;
  }

  section#words {
    padding-top: 30px;
    text-align: center;
  }

  section.circles {
    padding-top: 400px;
    height: 500px;
    margin-left: none;
  }

  section#images {
    display: flex;
  }

  .container {
    width: 34rem;
  }

  img.circles {
    height: 140px;
    width: 140px;
  }

  section#words {
    font-size: 1em;
    padding-top: 30px;
  }

  section#arrowsdown {
    margin-top: 100px;
  }
}

@media screen and (max-width: 667px) { 
  section#images{
    margin-top: 100px;  
  }
  
  img.circles {
  height: 40px;
  width:40px;  }

   section.circles {
    padding-top: 100px;
    height: 100px;
    margin-left: none;
  }


}
/*// Inbetween ipad and iphone //*/

@media screen and (max-width:610px) {

  img.circles {
    height: 100px;
    width: 100px;
  }

  section#images {
    width: 25rem;
  }

  section#apparel {
    margin-bottom: 140px;
  }

  section#joe {
    width: 36rem;
  }

  section#oodle{
    width: 30rem;
  }

  section#words {
    font-size: 10px;
    width: 500px; 
  }
}


/*/iphone 5 portrait/*/
@media screen and (max-width: 568px) {
  img.circles {
    height: 50px;
    width: 50px;
    padding: 2px;
  }

}

/*//iphone horizontal//*/

@media screen and (max-width:480px) {
  nav {
    height:70px;
  }

  video {
    display: none;
  }

  p.intro {
    font-size: 30px;
    padding-top: 20px;
  }

  section.circles {
    padding-top: 80px;
    height: 100px;
  }

  section#images {
    margin-top: 8rem;
    width: 25rem;
  }

  section#words {
    font-size: 7px;
    padding-top: 0;
  }

  section#bannerfull {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  section#bannerblue {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100px;
  }

  img.circles {
    height: 100px;
    width: 100px;
  }

  section#arrowsdown {
    margin-top: 0;
  }

  section#apparel {
    margin-left: 58px;
    /*height: 170px;*/
    /*margin-bottom: 140px;*/
    height: 40%;
    width: 24rem;
  }

  section#sleaze {
    /*border-top: none;*/
  }

  #apparel p {
    width: 300px;
    text-align: center;
    margin-right: 3rem;
  }

  form.form {
    width: 27rem;
    margin-top: 10rem;
  }
}


/*iphone vertical*/

@media screen and (max-width:455px) {
  nav {
    height: 90px;
  }

  video {
    display: none;
  }

  p.intro {
    font-size: 25px;
    padding-top: 30px;
  }

  h1 {
    width: 25rem
  }

  section#words {
    font-size: 8px;
  }

  section#bannerfull {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  section#bannerblue {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 90px;
  }

  section#images {
    margin-top: 8rem;
    width: 13rem;
  }

  section.circles {
    padding-top: 180px;
    height: 500px;
  }

  img.circles {
    height: 70px;
    width: 70px;
  }

  section#arrowsdown {
    margin-top: 40px;
  }

  section#apparel{
    height: 48%;
    margin-top: 100px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 19rem;
  }

  img#englogolink {
    height: 70px;
    width: 130px;
    margin-right: 0;
    margin-left: 86px;
    margin-top: 28px;
    float: none;
  }

  #apparel p {
    width: 300px;
    text-align: center;
    margin-right: 0;
  }

  p#engintro {
    margin-right: 0;
  }

  section#sleaze {
    height: 50%;
    width: 19rem;
    padding-top: 14px;
  }

  #sleaze p {
    width: 300px;
    margin-top: 24px;
    margin-left: -50px;
    margin-bottom: 18px;
  }

  img#sleazylogo {
    margin-left: -24px;
    margin-top: -20px;
  }

  section#joe {
    height: 44%;
    width: 19rem;
  }

  img#joelogo {
    height: 130px;
    width: 140px;
    margin-top: 0px;
    margin-right: 82px;
  }

  #joe p {
    width: 300px;
    float: none;
    padding-top: 18px;
  }

  div#joeheader {
    height: 40px;
  }

  section#oodle{
    height: 48%;
    margin-top: 14px;
    margin-bottom: 18px; 
    width: 19rem;
    padding-bottom: 2rem;
  }

  img#oodlslogo {
    margin-left: -24px;
    margin-top: -60px;
  }

  #oodle p {
    width: 300px;
    float: none;
    margin-left: -50px;
  }

  form.form {
    width: 23rem;
  }
}

/* horiztontal media queries less than 715px */

@media screen and (max-height:660px) {

  video#sleazevideo {
    margin-top: -196px;
  }

  section#apparel {
    margin-top: 92px;
    margin-bottom: 56px;
  }

  video#oodlsvideo {
    margin-top: -190px;
    height: 240px;
  }

  video#joevideo {
    margin-top: 26px;
  }

  img#joelogo {
    margin-top: 26px;
  }

  form.form {
    margin-top: -68px;
  }

  section#arrowsdown {
    margin-top: 40px;
  }

  h1#rolling {
    margin-bottom: 1px;
  }
}

@media screen and (max-height:610px) {


  video#sleazevideo {
    height: 216px;
  }

  img#joelogo {
    margin-top: 6px;
  }

  video#joevideo {
    height: 228px;
  }

  video#oodlsvideo {
    height: 222px;
  }

  video#engvideo {
    height: 214px;
  }

  img#englogolink {
    height: 140px;
  }

  form.form {
    margin-top: -88px;
  }

  section.circles {
  padding-top: 102px;
    }

  img.circles {
    height: 50px;
    width: 50px;
    padding: 2px;
  }


  }

}






